Repository The-Nazara-Project/Nazara, pull requests merged in 2024-09, with the labels that each got.

#73 Implement linking of IP Adresses to newly created device.
  .gitignore
  Cargo.toml
  src/collectors/network_collector.rs
  src/configuration/config_parser.rs
  src/configuration/config_template.toml
  src/publisher.rs
  src/publisher/api_client.rs
  src/publisher/publisher.rs
  src/publisher/translator.rs
  test/manual/README.md
  test/manual/api/get_nazara_interface.sh
Labels: rust, dependencies, configuration, publisher, collector, network-collector, translator

#78 Check if thanix_client and NetBox version are compatible
  Cargo.toml
  src/main.rs
  src/publisher/api_client.rs
  src/publisher/publisher.rs
  src/publisher/publisher_exceptions.rs
Labels: rust, dependencies, publisher

#79 Consolidate collector error types
  src/collectors/collector_exceptions.rs
  src/collectors/dmi_collector.rs
  src/collectors/network_collector.rs
  src/publisher/publisher_exceptions.rs
Labels: rust, publisher, collector, network-collector, system-collector

#82 Overhaul config_parser error handling
  src/configuration/config_exceptions.rs
  src/configuration/config_parser.rs
Labels: rust, configuration

#83 Implement device update
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/publisher/api_client.rs
  src/publisher/publisher.rs
  test/manual/api/search_device.sh
Labels: rust, dependencies, publisher
